@layer fonts {
  /* league-spartan-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/league-spartan-v11-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* league-spartan-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/league-spartan-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* league-spartan-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/league-spartan-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* league-spartan-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/league-spartan-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer colors {
  :root {
    --c-brown: #9e7f66;
    --c-black: hsl(0, 0%, 7%);
    --c-white: hsl(0, 0%, 100%);
    --c-gray-100: hsl(234, 30%, 13%);
    --c-gray-300: hsl(218, 21%, 18%);
    --c-gray-500: hsl(217, 14%, 42%);
    --color-background-dark: var(--c-black);
    --color-background-light: var(--c-white);
    --color-text-dark: var(--c-black);
    --color-text-light: var(--c-white);
    --color-shadow: hsla(234, 30%, 13%, 0.5);
  }
}

@layer typography {
  :root {
    /* 80px to convert to rem divid by 16 */
    --fs-80: calc(80 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);

    --font-size-h1: var(--fs-32);
    --font-size-h2: var(--fs-32);
    --font-size-h3: var(--fs-20);
    --font-size-p: var(--fs-16);

    --font-size-p-sm: var(--fs-16);

    /* tablet */
    @media (width >= calc(700 / 16 * 1rem)) {
      --font-size-h1: var(--fs-48);
      --font-size-h2: var(--fs-48);
      --font-size-p: var(--fs-20);
    }

    /* desktop */
    @media (width >= calc(1100 / 16 * 1rem)) {
      --font-size-h1: var(--fs-48);
    }
  }

  h1,
  h2,
  h3,
  p {
    text-align: center;

    @media (width >= calc(1100 / 16 * 1rem)) {
      text-align: left;
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: var(--font-size-h1);
    font-weight: 300;
    letter-spacing: -0.0125em;
    line-height: 1;
  }

  h2 {
    font-size: var(--font-size-h2);
    font-weight: 700;
    line-height: 1;
  }

  h3 {
    font-size: var(--font-size-h3);
    font-weight: 700;
    line-height: calc(24 / 20);
  }

  p {
    font-size: var(--font-size-p);
    line-height: 1.5;

    &.small {
      font-size: var(--font-size-p-sm);
    }
  }
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--color-background-light);
    color: var(--c-gray-300);
    font-family: "League Spartan", Arial, Helvetica, sans-serif;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  /* utility class */
  .hide-mobile {
    @media (width < calc(700 / 16 * 1rem)) {
      display: none;
    }
  }

  .has-shadow {
    box-shadow: 0 75px 100px -50px var(--color-shadow);
  }
}

@layer layout {
  .wrapper {
    display: grid;
    grid-template-columns: 24px 1fr 24px;

    > * {
      grid-column: 2;
    }

    > .full-bleed {
      grid-column: 1 / -1;
      background-color: var(--c-gray-500);
    }

    /* tablet */
    @media (width >= calc(700 / 16 * 1rem)) {
      grid-template-columns: 1fr min(100% - 80px, 1110px) 1fr;
    }
  }
}

@layer header {
  .logo {
    position: absolute;
    top: 65px;

    /* tablet */
    @media (width < calc(1100 / 16 * 1rem)) {
      top: 374px;
      left: 50%;
      translate: -50%;
    }

    /* mobile */
    @media (width < calc(700 / 16 * 1rem)) {
      top: 232px;
      width: (calc(82.4 / 16 * 1rem));
    }
  }
}

@layer button {
  .button {
    width: fit-content;
    margin-inline: auto;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text-light);
    letter-spacing: 0.16em;
    border: 1px solid var(--color-text-light);
    padding: 24px 55px;
    transition: 150ms ease-in-out;
    transition-property: background, color;

    @media (width >= calc(1100 / 16 * 1rem)) {
      margin-inline: 0;
    }

    &:hover {
      background-color: var(--color-text-light);
      color: var(--color-background-dark);
    }
  }
}

@layer hero {
  .hero {
    display: grid;
    grid-template-rows: 300px repeat(4, auto);
    justify-items: center;
    color: var(--color-text-light);

    /* tablet */
    @media (width >= calc(700 /16 * 1rem)) {
      grid-template-rows: 452px repeat(4, auto);
    }

    /* desktop */
    @media (width >= calc(1100 /16 * 1rem)) {
      grid-template-rows: 258px repeat(4, auto);
      justify-items: start;
    }

    .image {
      grid-row: 1 / -1;
    }

    .title {
      margin-block-end: 20px;
      line-height: 1.3;
      grid-row: 2;
      max-width: 12ch;

      /* desktop */
      @media (width >= calc(1100 /16 * 1rem)) {
        line-height: 1;
      }
    }
    .description {
      margin-block-end: 50px;
      grid-row: 3;
      max-width: 55ch;

      /* desktop */
      @media (width >= calc(1100 /16 * 1rem)) {
        max-width: 43ch;
      }
    }

    .button {
      grid-row: 4;
    }
  }
}

@layer features {
  .features {
    position: relative;
    margin-block-start: -72px;

    .feature__pattern {
      position: absolute;
      max-width: none;
      top: 184px;
      right: 50%;
    }

    .feature__image {
      margin-block-end: 48px;

      @media (width >= calc(700 / 16 * 1rem)) {
        max-width: calc(573 / 16 / 1rem);
        margin-inline: auto;
      }
    }

    .feature__divider {
      margin-block-end: 36px;
      margin-inline: auto;
    }

    .feature__title {
      margin-block-end: 13px;
      max-width: 14ch;
      margin-inline: auto;
    }

    .feature__descreption {
      max-width: 40ch;
      margin-inline: auto;
    }
  }
}
